body {
  padding: 30px;
  font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h2 {
	margin:0 0 .5em 0;
}

a {
  color: #00B7FF;
}

#wrapper {
	position:relative;
}

#userList {
	margin:0 0 30px 0;
}
	#userList table {
		border-collapse:separate;
		border-spacing:1px;
		background:#CCC;
		position: absolute;
    	right: 0px;
   		width: 300px;
    	border: 3px solid #73AD21;
    	padding: 10px;
	}
		#userList table th {
			background:#EEE;
			font-weight:600;
			padding:10px 20px;
			text-align:center;
		}
		#userList table tbody {
			padding:0; margin:0;
			border-collapse:collapse;
			border-spacing:0px;
		}
			#userList table td {
				background:#FFF;
				padding:5px 10px;
				text-align:center;
			}

#userInfo {
	width:1000px;
	position:absolute;
	top:100; left:0;
}
	#userInfo p {
		padding:15px;
		font-size: 150%;
		
	}

#title {
	clear: left;
    font-weight: bold;	
    padding-bottom: 20px;
    font-size: 125%;

}

#test {
	clear: left;
	text-decoration: underline;
    font-weight: bold;
    padding-top: 20px;
	padding-bottom: 20px;


}

#test0 {
	clear: left;
    font-weight: bold;	
    padding-bottom: 20px;
    font-style: italic;

}

#test1 {
	clear: left;
    font-weight: bold;
    padding-top: 50px;	
    padding-bottom: 20px;
    font-style: italic;

}

#test2 {
	display:inline-block;
	padding-left: 5px;
}

#test3 {
	color: red;
	display:inline-block;
	padding-left: 5px;
	font-style: normal;

	
}

#test4 {
	display:inline-block;
	padding-left: 20px;
}



fieldset {
	border:0;
	padding:0; margin:0;
}
